@use 'src/styles/vars';

#root {
  min-height: 100vh;
  background-image: url('../../assets/bg.jpg');
  font-family: vars.$mainFont;
}

.app {
  padding: 1.5em;
  text-align: center;

  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 5% auto;
  grid-template-areas: 
    " . title filter"
    "cards cards cards"
    " . pagination . ";

  h1.app-title {
    font-size: 60px;
    grid-area: title;
    font-family: vars.$titleFont;
  }

  .app-filter {
    grid-area: filter;
  }

  .app-cards {
    grid-area: cards;
  }

  .app-pagination {
    grid-area: pagination;
  }
}

