@use 'src/styles/vars';

#root {
  min-height: 100vh;
  background-image: url('../../assets/bg.jpg');
  font-family: vars.$mainFont;
}

.app {
  min-height: 100vh;
  padding: 1.5em;
  text-align: center;

  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 7% auto;
  grid-template-areas: 
    "counter title filter"
    "cards cards cards"
    " . pagination . ";

  h1.app-title {
    font-size: 60px;
    color: vars.$darkenColor;
    grid-area: title;
    font-family: vars.$titleFont;
  }

  .app-filter {
    grid-area: filter;
  }

  .app-cards {
    grid-area: cards;
    place-self: center;
  }

  .app-pagination {
    grid-area: pagination;
    place-self: center;
    margin-bottom: 50px;
  }

  .app-counter {
    grid-area: counter;
  }
}

// TABLET
@media only screen and (max-width : 768px) {
  .app {
    grid-template-columns: 50% 50%;
    grid-template-rows: 70px 70px auto 10%;
    grid-template-areas: 
      "title title"
      "counter filter"
      "cards cards"
      "pagination pagination";
  
    .app-pagination {
      margin-bottom: 100px;
    }

    h1.app-title {
      font-size: 50px;
    }
  }
}

