@use 'src/styles/vars';

.cards-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1em 0em;
  width: 100%;
  .card-component{
    cursor: pointer;
    margin: 15px;
    width: 300px;
    height: 250px;
    background-color: vars.$darkenColor;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      transition: 0.2s;
    }

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 30% 20% 15% 25% 10% ;
    grid-template-areas: 
      "title title title title"
      "category category category category"
      " . . . delete"
      " . thumbup thumbdown ."
      "likebar likebar likebar likebar"
    ;
    .card-title {
      grid-area: title;
      color: vars.$mainColor;
      display: grid;
      place-content: center;
      font-weight: bold;
      font-size: 2.2em;
      padding-right: 0.2em;
      padding-left: 0.2em;
      margin-top: 0.2em;
      text-transform: capitalize;
    }

    .card-category {
      grid-area: category;
      color: rgb(255, 255, 142);
      display: grid;
      place-content: center;
      font-style: italic;
      font-size: 1.3em;
    }

    .card-thumbup {
      grid-area: thumbup;
      border: none;
      background: transparent;
      svg {
        font-size: 300%;
        color: vars.$mainColor;
      }
      &:hover{
        svg {
          color: green;
        }
      }
    }

    .card-thumbdown {
      grid-area: thumbdown;
      border: none;
      background: transparent;
      svg {
        font-size: 300%;
        color: vars.$mainColor;
      }
      &:hover{
        svg {
          color: red;
        }
      }
    }

    .card-like-dislike-ratio {
      grid-area: likebar;
      place-self: end;
      width: 100%;
      height: 8px;
      background-color: red;
      div {
        background-color: green;
        height: 100%;
      }
    }

    .card-delete {
      grid-area: delete;
      background-color: red;
      margin-left: 48px;
      height: 25px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      border: none;
      svg {
        color: vars.$darkenColor;
        font-size: 150%;
        // padding-top: 3px;
        // margin-right: 0px;
        margin-top: 1.5px;
      }
      &:active{
        background-color: vars.$darkenColor;
        border: 2px solid red;
        border-right: none;
        svg {
          color: red;
          // margin-right: 10px;
          margin-top: -1px;
        }
      }
    }
  }
}
