@use 'src/styles/vars';

.cards-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1em 0em;
  width: 100%;
  .card-component{
    cursor: pointer;
    margin: 15px;
    width: 300px;
    height: 250px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 30% 20% 15% 25% 10% ;
    grid-template-areas: 
      "title title title title"
      "category category category category"
      " . . . delete"
      " . thumbup thumbdown ."
      "likebar likebar likebar likebar"
    ;
    .card-title {
      grid-area: title;
      display: grid;
      place-content: center;
      font-weight: bold;
      font-size: 2.2em;
      padding-right: 0.2em;
      padding-left: 0.2em;
      margin-top: 0.2em;
      text-transform: capitalize;
    }

    .card-category {
      grid-area: category;
      display: grid;
      place-content: center;
      font-style: italic;
      font-size: 1.3em;
    }

    .card-thumbup {
      grid-area: thumbup;
      border: none;
      background: transparent;
      svg {
        font-size: 300%;
      }
      &:hover{
        svg {
          color: green;
        }
      }
    }

    .card-thumbdown {
      grid-area: thumbdown;
      border: none;
      background: transparent;
      svg {
        font-size: 300%;
      }
      &:hover{
        svg {
          color: red;
        }
      }
    }

    .card-like-dislike-ratio {
      grid-area: likebar;
      place-self: end;
      width: 100%;
      height: 8px;
      background-color: red;
      div {
        background-color: green;
        height: 100%;
      }
    }

    .card-delete {
      grid-area: delete;
      background-color: red;
      margin-left: 40px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border: none;
      svg {
        color: white;
        font-size: 200%;
      }
      &:active{
        background-color: white;
        border: 2px solid red;
        border-right: none;
        svg {
          color: red;
        }
      }
    }
  }
}
